@import '../../utils/colors.scss'; 
 
.festa {
    
     color: $secondary-text-color;
     padding: 0.5rem;
     margin: 05rem;
     border: 0.2rem solid $secondary-text-color;
 }

.row {
    margin-bottom: 0;
   
}
