@import '../../utils/colors.scss'; 
 
.festa {
     background-color: $default-primary-color;
     color: $secondary-text-color;
 }

.row {
    margin-bottom: 0;
   
}
.back {
    background-color: $light-primary-color;
    
}
