@import '../../utils/colors.scss';


.hero-main {
    height: 100vh;
    background-color: $accent-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
  
    &-nav {
      background-color: white;
      grid-column: span 2;
      
    }
    &-text {
      font-family: 'Gloria Hallelujah', cursive;
      color: $text-primary-color;
      font-size: 25px;
      padding: 30px;
      &-p {
        grid-row: 2 / 2;
      }
    }
    &-img {
      background-image: url('../../img/hero_img.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }

}

