@import '../../utils/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-header {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    
}