$dark-primary-color:#303F9F; 
$default-primary-color:#3F51B5; 
$light-primary-color: #C5CAE9;
$accent-color:#448AFF;
$text-primary-color: #FFFFFF; 
$primary-text-color: #212121; 
$secondary-text-color: #757575; 
$divider-color: #BDBDBD; 